// Functions
.linear_gradient (@color1: #ffffff, @perc1: 0%, @color2: #aaaaaa, @perc2: 100%) {
	background-image: -ms-linear-gradient(top, @color1  @perc1, @color2  @perc2);
	background-image: -moz-linear-gradient(top, @color1  @perc1, @color2  @perc2);
	background-image: -o-linear-gradient(top, @color1  @perc1, @color2  @perc2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(unit(@perc1/100), @color1 ), color-stop(unit(@perc2/100), @color2 ));
	background-image: -webkit-linear-gradient(top, @color1  @perc1, @color2  @perc2);
	background-image: linear-gradient(to bottom, @color1  @perc1, @color2  @perc2);
}

.border-radius-all (@radius: 0px){
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}

.border-radius (@top-left: 0px, @top-right: 0px, @bottom-right: 0px, @bottom-left: 0px){
	border-radius: @top-left @top-right @bottom-right @bottom-left;
	-moz-border-radius: @top-left @top-right @bottom-right @bottom-left;
	-webkit-border-radius: @top-left @top-right @bottom-right @bottom-left;
}

.opacity (@value: 0.8){
	opacity: @value;
	-ms-filter: ~"'progid:DXImageTransform.Microsoft.Alpha(Opacity="@value*100~")'"; /* IE opacities */
	filter: ~"alpha(opacity="@value*100~")";
}

// Body variables
@body-background-start: #d7e9fb;
@body-background-end: desaturate(darken(@body-background-start, 10%), 15%);
@font-color: #000;
@font-family: 'Trebuchet MS';
@font-size: 14px;

/* MAIN */
html {
	.linear_gradient (@body-background-start, 0%, @body-background-end, 100%);
	box-sizing: border-box;
	height: 100%; width: 100%;
}

body {
	color: @font-color;
	font: @font-size @font-family;
	margin: 10px;
}

p {
	margin: 0; padding: 0;
}

@border-color: darken(@body-background-start, 20%);
@page-width: 960px;

.wrapper {
	border: none;
	margin: 0 auto;
	width: @page-width;
	
	// Header variables.
	@header-bg-image: url('../img/logo.png');

	header {
		border: inherit;

		.logo {
			background-image: @header-bg-image;
			height: 41px; width: 155px;
		}
	}
	
	// Navigation variables.
	@nav-bg-color: #fff;
	@nav-link-color: darken(@body-background-end, 20%);
	@nav-link-bg-color: @nav-bg-color;
	@nav-link-hover-color: #fff;
	@nav-link-hover-bg-color: darken(@body-background-end, 20%);

	nav {
		border: 1px solid @border-color;
		.border-radius-all(5px);
		background-color: @nav-bg-color;
		margin-top: 10px;
		text-align: center;

		ul {
			list-style-type: none;
			margin: 0; padding: 0;
			li {
				display: inline-block;

				a {
					border: inherit;

					&, &:link, &:visited, &:active {
						background-color: @nav-link-bg-color;
						color: @nav-link-color;
						display: block;
						padding: 10px 15px;
					}

					&:hover {
						background-color: @body-background-end;
						color: @nav-link-hover-color;
						text-decoration: none;
					}
				}
			}
		}
	}
	
	// Content variables.
	@content-bg-color: #fff;

	.content {
		background-color: @content-bg-color;
		border: 1px solid @border-color;
		.border-radius-all(5px);
		float: left;
		margin: 10px 0;
		padding: 10px;
		width: 580px;
	}
	
	// Sidebar variables.
	@sidebar-bg-color: #fff;

	aside {
		background-color: @sidebar-bg-color;
		border: 1px solid @border-color;
		.border-radius-all(5px);
		float: right;
		margin: 10px 0;
		padding: 10px;
		width: 320px;
	}
	
	// Footer variables.
	@footer-bg-color: #fff;

	footer {
		background-color: @footer-bg-color;
		border: 1px solid @border-color;
		.border-radius-all(5px);
		clear: both;
		margin-top: 10px;
		padding: 10px;

		&:before {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}
	}

}

a {

	&, &:link, &:visited, &:active {
		text-decoration: none;
	}

	&:hover {
		text-decoration: underline;
	}
}